<!DOCTYPE html>


<html>

	<head>
		<title>Adding New Category</title>
	</head>

	<body>
	   <h1>ADD A CATEGORY</h1>
		<form id="category_form" method="POST" action="/rango/add_category/">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{hidden}}
		{% endfor %}

		{% for field in form.visible_fields %}
			{{field.errors}}
			{{field.help_text}}
			{{field}}
		{% endfor %}

		<input type="submit" name="submit" value="Create Category" />
		</form>

	</body>

</html>